<div class="row">
    <div class="col-md-12">
        <h1>Server Setup
            <small>Change your server setup here</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install Minecraft Forge</h2>

        <form class="form-inline" onsubmit="return false;" ng-show="forge">
            <div class="form-group">
                <label class="control-label" for="mcversion">Minecraft Version</label>
                <select class="form-control" id="mcversion" data-ng-model="selectedMC" ng-options="version for (version, subversion) in forge"></select>
            </div>
            <div class="form-group" ng-show="selectedMC">
                <label class="control-label" for="forgeversion">Minecraft Forge Version</label>
                <select class="form-control" id="forgeversion" data-ng-model="forgeversion" ng-options="version as version for (version, subversion) in selectedMC"></select>
            </div>
            <input ng-show="forgeversion" type="submit" class="btn btn-default" ng-click="installForge()" value="Install Forge">
        </form>
    </div>
</div>
<div class="row" ng-show="downloading">
    <hr>
    <div class="col-md-12">
        <small><em>Download Progress</em></small>
        <progressbar max="100" animate="true" class="progress-striped active" value="downloadProgress"></progressbar>
    </div>
</div>
<div class="row" ng-show="installing">
    <hr>
    <div class="col-md-12">
        <h3><em>Installation Progress</em></h3>

        <p ng-repeat="message in installationMessages track by $index">{{message}}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h2>Install modpack - Technic</h2>

        <form onsubmit="return false;">
            <div class="form-group">
                <label class="control-label" for="technicPlatformUrl">Platform url</label>
                <input class="form-control" type="url" ng-model="technicPlatformUrl" id="technicPlatformUrl">
            </div>
        </form>
        <div ng-show="platformPackInfo">
            <p><strong>Pack name: </strong>{{platformPackInfo.displayName}}</p>

            <p><strong>Description: </strong>{{platformPackInfo.description}}</p>

            <p><strong>Minecraft version: </strong>{{platformPackInfo.minecraft}}</p>
        </div>
        <form onsubmit="return false;" ng-show="platformPackInfo && platformPackInfo.builds" ng-submit="installSolderPack()">
            <div class="form-group">
                <label class="control-label" for="build">Build to install</label>
                <select class="form-control" id="build" ng-options="build for (index, build) in platformPackInfo.builds" ng-model="selectedBuild"></select>
            </div>
            <input type="submit" class="btn btn-default" value="Install" ng-show="selectedBuild">
        </form>
        <div ng-show="platformPackInfo && platformPackInfo.url">
            <p>Version {{platformPackInfo.version}} is ready to install. </p>
            <button class="btn btn-default" ng-click="installTechnicPack()">Install {{platformPackInfo.displayName}}
            </button>
        </div>
        <div ng-show="installingPack">
            <small><em>Total Download Progress</em> {{modpackDownloadProgress}}%</small>
            <progressbar max="totalMods" class="progress-striped active" value="modpackDownloadProgress"></progressbar>
            <div ng-show="downloadingSolderPack">
                <small><strong>Downloading mod: </strong>{{modname}}</small>
                <progressbar class="progress-striped active" animate="false" value="modDownloadProgress"></progressbar>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Install custom mod</h3>

        <form onsubmit="return false;" ng-submit="installCustomModFromUrl()">
            <div class="form-group">
                <label for="custommodurl" class="control-label">File url</label>
                <input id="custommodurl" type="url" ng-model="customModURL" class="form-control">
            </div>
            <div class="form-group">
                <label for="custommodname" class="control-label">Mod name</label>
                <input id="custommodname" type="text" ng-model="customModName" class="form-control">
            </div>
            <div class="form-group">
                <label for="custommodversion" class="control-label">Mod version</label>
                <input id="custommodversion" type="text" ng-model="customModVersion" class="form-control">
            </div>
            <input type="submit" value="Download and install" class="btn btn-default">
        </form>
        <hr>
    </div>
</div>
<hr>
<div class="row" ng-if="!properties">
    <div class="col-md-12">
        <div class="alert alert-info">No server.properties file found</div>
    </div>
</div>
<div class="row" ng-if="properties">
    <div class="col-md-12">
        <h3>Server Properties
            <small>
                <button class="astext" ng-click="refreshPropFile()">Refresh</button>
            </small>
            <input type="submit" value="Save" class="btn btn-default" form="propsform">
        </h3>
        <form onsubmit="return false;" ng-submit="savePropFile()" class="form-horizontal" id="propsform">
            <div class="form-group" ng-repeat="(key, value) in properties">
                <div>
                    <label class="control-label col-sm-2">{{key}}</label>

                    <div class="col-sm-10">
                        <input ng-if="::typeof('boolean', value.v)" type="checkbox" ng-model="value.v">
                        <input ng-if="::typeof('object', value.v)" type="text" ng-model="value.v.value" class="form-control">
                        <input ng-if="::typeof('number', value.v)" type="number" ng-model="value.v" class="form-control">
                        <input ng-if="::typeof('undefined', value.v)" type="text" ng-model="value.v" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
