<div class="row">
	<div class="col-md-12">
		<h1>Server Setup
			<small>Change your server setup here</small>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Install Minecraft Forge</h2>
		<form class="form-inline" onsubmit="return false;" ng-show="forge">
			<div class="form-group">
				<label class="control-label" for="mcversion">Minecraft Version</label>
				<select class="form-control" id="mcversion" data-ng-model="selectedMC" ng-options="version for (version, subversion) in forge"></select>
			</div>
			<div class="form-group" ng-show="selectedMC">
				<label class="control-label" for="forgeversion">Minecraft Forge Version</label>
				<select class="form-control" id="forgeversion" data-ng-model="forgeversion" ng-options="version as version for (version, subversion) in selectedMC"></select>
			</div>
			<input ng-show="forgeversion" type="submit" class="btn btn-default" ng-click="installForge()" value="Install Forge">
		</form>
	</div>
</div>
<div class="row" ng-show="downloading">
	<hr>
	<div class="col-md-12" >
		<small><em>Download Progress</em></small>
		<progressbar max="100" animate="true" class="progress-striped active" value="downloadProgress"></progressbar>
	</div>
</div>
<div class="row" ng-show="installing">
    <hr>
    <div class="col-md-12">
        <h3><em>Installation Progress</em></h3>
        <p ng-repeat="message in installationMessages track by $index">{{message}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install modpack</h2>
        <form onsubmit="return false;">

        </form>
    </div>
</div>