<div class="row">
    <div class="col-md-12">
        <h1>Server Setup
            <small>Change your server setup here</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install Minecraft Forge</h2>

        <form class="form-inline" onsubmit="return false;" ng-show="forge">
            <div class="form-group">
                <label class="control-label" for="mcversion">Minecraft Version</label>
                <select class="form-control" id="mcversion" data-ng-model="selectedMC" ng-options="version for (version, subversion) in forge"></select>
            </div>
            <div class="form-group" ng-show="selectedMC">
                <label class="control-label" for="forgeversion">Minecraft Forge Version</label>
                <select class="form-control" id="forgeversion" data-ng-model="forgeversion" ng-options="version as version for (version, subversion) in selectedMC"></select>
            </div>
            <input ng-show="forgeversion" type="submit" class="btn btn-default" ng-click="installForge()" value="Install Forge">
        </form>
    </div>
</div>
<div class="row" ng-show="downloading">
    <hr>
    <div class="col-md-12">
        <small><em>Download Progress</em></small>
        <progressbar max="100" animate="true" class="progress-striped active" value="downloadProgress"></progressbar>
    </div>
</div>
<div class="row" ng-show="installing">
    <hr>
    <div class="col-md-12">
        <h3><em>Installation Progress</em></h3>

        <p ng-repeat="message in installationMessages track by $index">{{message}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install modpack - Technic</h2>

        <form onsubmit="return false;">
            <div class="form-group">
                <label class="control-label" for="technicPlatformUrl">Platform url</label>
                <input class="form-control" type="url" ng-model="technicPlatformUrl" id="technicPlatformUrl">
            </div>
        </form>
        <dív class="row" ng-show="platformPackInfo">
            <p><strong>Pack name: </strong>{{platformPackInfo.displayName}}</p>

            <p><strong>Description: </strong>{{platformPackInfo.description}}</p>

            <p><strong>Minecraft version: </strong>{{platformPackInfo.minecraft}}</p>
        </dív>
        <form onsubmit="return false;" ng-show="platformPackInfo && platformPackInfo.builds" ng-submit="installSolderPack()">
            <div class="form-group">
                <label class="control-label" for="build">Build to install</label>
                <select class="form-control" id="build" ng-options="build for (index, build) in platformPackInfo.builds" ng-model="selectedBuild"></select>
            </div>
            <input type="submit" class="btn btn-default" value="Install">
        </form>
        <div ng-show="platformPackInfo && platformPackInfo.url">
            <p>Version {{platformPackInfo.version}} is ready to install. </p>
            <button class="btn btn-default" ng-click="installTechnicPack()">Install {{platformPackInfo.displayName}}</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install modpack - Feed-the-beast</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Install modpack - ATLauncher</h2>
    </div>
</div>